In [54]:
import pandas as pd
pd.set_option('display.max_columns', 500)

# import files to merge
shot_locations = pd.read_csv("../data/processed/Shot_Locations_top_20_players_2000to2020.csv")
play_by_play = pd.read_csv("../data/processed/PlaybyPlay_2000-2020.csv")

# merge
df_merged = shot_locations.merge(play_by_play, how='outer', left_on=['Game ID','Game Event ID'], right_on=['GAME_ID','EVENTNUM'])

# save as csv
df_merged.to_csv('../data/processed/PlaybyPlay_ShotLocations.csv')

In [62]:
print("Play by play shape:", play_by_play.shape)
print("Play by play games:", play_by_play['GAME_ID'].nunique())
print("Shot locations shape:", shot_locations.shape)
print("Shot locations games:", shot_locations['Game ID'].nunique())
print("Merged shaped:", df_merged.shape)

Play by play shape: (467751, 17)
Play by play games: 13980
Shot locations shape: (334331, 20)
Shot locations games: 13927
Merged shaped: (467751, 37)

In [66]:
# check if observations are missing on the play by play part
df_merged[df_merged['GAME_ID'].isna()]

Empty DataFrame
Columns: [Game ID, Game Event ID, Player ID, Player Name, Team ID, Team Name, Period, Minutes Remaining, Seconds Remaining, Shot Zone Basic, Shot Zone Area, Shot Zone Range, Shot Distance, X Location, Y Location, Shot Made Flag, Home Team, Away Team, Season Type, Year, GAME_ID, EVENTNUM, target, PERIOD, PERSON1TYPE, PLAYER1_NAME, PLAYER1_TEAM_ABBREVIATION, at_home, 3PT, jump_shot, layup_shot, dunk_shot, hook_shot, free_throw, minutes_left, seconds_left, VIDEO_AVAILABLE_FLAG]
Index: []

In [65]:
# check if observations are missing on the shot location part
df_merged[df_merged['Game ID'].isna()]

,Game ID,Game Event ID,Player ID,Player Name,Team ID,Team Name,Period,Minutes Remaining,Seconds Remaining,Shot Zone Basic,Shot Zone Area,Shot Zone Range,Shot Distance,X Location,Y Location,Shot Made Flag,Home Team,Away Team,Season Type,Year,GAME_ID,EVENTNUM,target,PERIOD,PERSON1TYPE,PLAYER1_NAME,PLAYER1_TEAM_ABBREVIATION,at_home,3PT,jump_shot,layup_shot,dunk_shot,hook_shot,free_throw,minutes_left,seconds_left,VIDEO_AVAILABLE_FLAG
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20000001,39,1.0,1,5.0,Allen Iverson,PHI,0.0,0.0,0.0,0.0,0.0,0.0,1.0,7,432,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20000001,40,1.0,1,5.0,Allen Iverson,PHI,0.0,0.0,0.0,0.0,0.0,0.0,1.0,7,432,NaN
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20000001,68,1.0,1,5.0,Allen Iverson,PHI,0.0,0.0,0.0,0.0,0.0,0.0,1.0,4,256,NaN
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20000001,70,1.0,1,5.0,Allen Iverson,PHI,0.0,0.0,0.0,0.0,0.0,0.0,1.0,4,256,NaN
13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20000001,172,1.0,2,5.0,Allen Iverson,PHI,0.0,0.0,0.0,0.0,0.0,0.0,1.0,4,293,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
467744,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,49900088,439,0.0,4,4.0,Shaquille O'Neal,LAL,1.0,0.0,0.0,0.0,0.0,0.0,1.0,2,161,0.0
467747,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,49900088,476,1.0,4,4.0,Kobe Bryant,LAL,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0,13,0.0
467748,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,49900088,477,1.0,4,4.0,Kobe Bryant,LAL,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0,13,0.0
467749,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,49900088,486,1.0,4,4.0,Kobe Bryant,LAL,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0,2,0.0
467750,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,49900088,487,1.0,4,4.0,Kobe Bryant,LAL,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0,2,0.0

In [69]:
df_merged[df_merged['Game ID'].isna()].free_throw.value_counts(normalize=True)

free_throw
1.0    0.995331
0.0    0.004669
Name: proportion, dtype: float64

In [70]:
# > 99.5% of missing observations are free throws, we can try to add the shot locations manually