# Merge Shot locations and play by play

In [3]:
import pandas as pd
pd.set_option('display.max_columns', 500)

# import files to merge
shot_locations = pd.read_csv("../data/processed/Shot_Locations_top_20_players_2000to2020.csv")
play_by_play = pd.read_csv("../data/processed/PlaybyPlay_2000-2020.csv")

# merge
df_merged = shot_locations.merge(play_by_play, how='outer', left_on=['Game ID','Game Event ID'], right_on=['GAME_ID','EVENTNUM'])

# save as csv
df_merged.to_csv('../data/processed/PlaybyPlay_ShotLocations.csv')

In [4]:
print("Play by play shape:", play_by_play.shape)
print("Play by play games:", play_by_play['GAME_ID'].nunique())
print("Shot locations shape:", shot_locations.shape)
print("Shot locations games:", shot_locations['Game ID'].nunique())
print("Merged shaped:", df_merged.shape)

Play by play shape: (467751, 17)
Play by play games: 13980
Shot locations shape: (334331, 20)
Shot locations games: 13927
Merged shaped: (467751, 37)

In [5]:
# check if observations are missing on the play by play part
df_merged[df_merged['GAME_ID'].isna()]

Empty DataFrame
Columns: [Game ID, Game Event ID, Player ID, Player Name, Team ID, Team Name, Period, Minutes Remaining, Seconds Remaining, Shot Zone Basic, Shot Zone Area, Shot Zone Range, Shot Distance, X Location, Y Location, Shot Made Flag, Home Team, Away Team, Season Type, Year, GAME_ID, EVENTNUM, target, PERIOD, PERSON1TYPE, PLAYER1_NAME, PLAYER1_TEAM_ABBREVIATION, at_home, 3PT, jump_shot, layup_shot, dunk_shot, hook_shot, free_throw, minutes_left, seconds_left, VIDEO_AVAILABLE_FLAG]
Index: []

In [6]:
# check if observations are missing on the shot location part
df_merged[df_merged['Game ID'].isna()]

,Game ID,Game Event ID,Player ID,Player Name,Team ID,Team Name,Period,Minutes Remaining,Seconds Remaining,Shot Zone Basic,Shot Zone Area,Shot Zone Range,Shot Distance,X Location,Y Location,Shot Made Flag,Home Team,Away Team,Season Type,Year,GAME_ID,EVENTNUM,target,PERIOD,PERSON1TYPE,PLAYER1_NAME,PLAYER1_TEAM_ABBREVIATION,at_home,3PT,jump_shot,layup_shot,dunk_shot,hook_shot,free_throw,minutes_left,seconds_left,VIDEO_AVAILABLE_FLAG
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20000001,39,1.0,1,5.0,Allen Iverson,PHI,0.0,0.0,0.0,0.0,0.0,0.0,1.0,7,432,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20000001,40,1.0,1,5.0,Allen Iverson,PHI,0.0,0.0,0.0,0.0,0.0,0.0,1.0,7,432,NaN
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20000001,68,1.0,1,5.0,Allen Iverson,PHI,0.0,0.0,0.0,0.0,0.0,0.0,1.0,4,256,NaN
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20000001,70,1.0,1,5.0,Allen Iverson,PHI,0.0,0.0,0.0,0.0,0.0,0.0,1.0,4,256,NaN
13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20000001,172,1.0,2,5.0,Allen Iverson,PHI,0.0,0.0,0.0,0.0,0.0,0.0,1.0,4,293,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
467744,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,49900088,439,0.0,4,4.0,Shaquille O'Neal,LAL,1.0,0.0,0.0,0.0,0.0,0.0,1.0,2,161,0.0
467747,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,49900088,476,1.0,4,4.0,Kobe Bryant,LAL,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0,13,0.0
467748,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,49900088,477,1.0,4,4.0,Kobe Bryant,LAL,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0,13,0.0
467749,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,49900088,486,1.0,4,4.0,Kobe Bryant,LAL,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0,2,0.0
467750,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,49900088,487,1.0,4,4.0,Kobe Bryant,LAL,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0,2,0.0

In [ ]:
df_merged[df_merged['GAME_ID']]

In [8]:
df_merged[df_merged['Game ID'].isna()].free_throw.value_counts(normalize=True)

free_throw
1.0    0.995331
0.0    0.004669
Name: proportion, dtype: float64

In [7]:
# > 99.5% of missing observations are free throws, we can try to add the shot locations manually

# Merge players stats per year

In [17]:
import pandas as pd
pd.set_option('display.max_columns', 500)
df_sl_pbp = pd.read_csv("../data/processed/PlaybyPlay_ShotLocations.csv", index_col=0)
df_players = pd.read_csv("../data/processed/stat_joueurs.csv", index_col=0)
df_games = pd.read_csv('../data/raw/games.csv')
df_shots = pd.read_csv('../data/raw/NBA Shot Locations 1997 - 2020.csv')

# remove the "*" after Shaquille O'Neal 
df_players = df_players.replace({"Shaquille O'Neal*":"Shaquille O'Neal"})

In [18]:
df_sl_pbp.head(2)

,Game ID,Game Event ID,Player ID,Player Name,Team ID,Team Name,Period,Minutes Remaining,Seconds Remaining,Shot Zone Basic,Shot Zone Area,Shot Zone Range,Shot Distance,X Location,Y Location,Shot Made Flag,Home Team,Away Team,Season Type,Year,GAME_ID,EVENTNUM,target,PERIOD,PERSON1TYPE,PLAYER1_NAME,PLAYER1_TEAM_ABBREVIATION,at_home,3PT,jump_shot,layup_shot,dunk_shot,hook_shot,free_throw,minutes_left,seconds_left,VIDEO_AVAILABLE_FLAG
0,20000001.0,11.0,947.0,Allen Iverson,1.610613e+09,Philadelphia 76ers,1.0,11.0,8.0,4.0,2.0,0.0,19.0,-107.0,167.0,0.0,NYK,PHI,1.0,2000.0,20000001,11,0.0,1,5.0,Allen Iverson,PHI,0.0,0.0,1.0,0.0,0.0,0.0,0.0,11,668,NaN
1,20000001.0,32.0,947.0,Allen Iverson,1.610613e+09,Philadelphia 76ers,1.0,7.0,57.0,4.0,2.0,0.0,21.0,-115.0,177.0,1.0,NYK,PHI,1.0,2000.0,20000001,32,1.0,1,5.0,Allen Iverson,PHI,0.0,0.0,1.0,0.0,0.0,0.0,0.0,7,477,NaN

In [20]:
df_players.head(2)

,Player,Age,Year,TS%,PTM,TRBM,USG%,FG%,2P%,3P%,FT%,PTS,year_start,year_end,height,weight,C,PF,PG,PG-SG,SF,SG,SG-PG
3,Allen Iverson,24.0,2000.0,0.496,28.414286,3.814286,34.4,0.421,0.435,0.341,0.713,1989.0,1997,2010,182.88,165.0,0,0,0,0,0,1,0
4,Allen Iverson,25.0,2001.0,0.518,31.084507,3.845070,35.9,0.420,0.441,0.320,0.814,2207.0,1997,2010,182.88,165.0,0,0,0,0,0,1,0

In [19]:
# Check if all 20 players are there
df_players.groupby('Player')['Year'].count()

Player
Allen Iverson            17
Chris Webber             12
Dirk Nowitzki            18
Dwight Howard            13
Dwyane Wade              14
Giannis Antetokounmpo     4
James Harden              8
Jason Kidd               16
Jimmy Butler              6
Kawhi Leonard             6
Kevin Durant             10
Kevin Garnett            19
Kobe Bryant              17
LeBron James             14
Paul Pierce              18
Russell Westbrook         9
Shaquille O'Neal          5
Stephen Curry             8
Steve Nash               15
Tim Duncan               17
Name: Year, dtype: int64

In [95]:
df_shots.head(2)

,Game ID,Game Event ID,Player ID,Player Name,Team ID,Team Name,Period,Minutes Remaining,Seconds Remaining,Action Type,Shot Type,Shot Zone Basic,Shot Zone Area,Shot Zone Range,Shot Distance,X Location,Y Location,Shot Made Flag,Game Date,Home Team,Away Team,Season Type
0,29700427.0,389.0,100.0,Tim Legler,1.610613e+09,Washington Wizards,4.0,11.0,22.0,Jump Shot,2PT Field Goal,Mid-Range,Right Side(R),8-16 ft.,15.0,117.0,109.0,1.0,19980102.0,WAS,IND,Regular Season
1,29700427.0,406.0,100.0,Tim Legler,1.610613e+09,Washington Wizards,4.0,9.0,36.0,Jump Shot,2PT Field Goal,Mid-Range,Right Side(R),8-16 ft.,14.0,143.0,25.0,0.0,19980102.0,WAS,IND,Regular Season

In [21]:
game_dates = df_shots[['Game Date', 'Game ID']]
game_dates['Year'] = pd.to_datetime(df_shots['Game Date'], format="%Y%m%d").dt.year
game_dates = game_dates.drop('Game Date', axis=1).drop_duplicates()
game_dates = game_dates[game_dates.Year>1999]
game_dates = game_dates.dropna()

# Fill the 'Year' column for every observation. We will need it to merge the player stats for each year
for _, game in game_dates.iterrows():
    df_sl_pbp.loc[df_sl_pbp['GAME_ID'] == game['Game ID'], 'Year'] = game['Year']

C:\Users\Sarah\AppData\Local\Temp\ipykernel_21968\1417623610.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  game_dates['Year'] = pd.to_datetime(df_shots['Game Date'], format="%Y%m%d").dt.year

In [22]:
# Check that all observations now have the year
df_sl_pbp.Year.isna().sum()

0

In [34]:
# merge everything
data = df_sl_pbp.merge(df_players, how='left', left_on=['PLAYER1_NAME', 'Year'], right_on=['Player', 'Year'])

In [35]:
# drop duplicated columns
data = data.drop(['VIDEO_AVAILABLE_FLAG', 'Game ID', 'Game Event ID', 'Player Name', 'Player', 'Team Name', 'Period', 'Player ID', 'Team ID' ], axis = 1)

# Deal with NAs

In [36]:
data.isna().sum()

Minutes Remaining            136235
Seconds Remaining            136235
Shot Zone Basic              136235
Shot Zone Area               136235
Shot Zone Range              136235
Shot Distance                136235
X Location                   136235
Y Location                   136235
Shot Made Flag               136235
Home Team                    136235
Away Team                    136235
Season Type                  136235
Year                              0
GAME_ID                           0
EVENTNUM                          0
target                            0
PERIOD                            0
PERSON1TYPE                       0
PLAYER1_NAME                      0
PLAYER1_TEAM_ABBREVIATION         0
at_home                           0
3PT                               0
jump_shot                         0
layup_shot                        0
dunk_shot                         0
hook_shot                         0
free_throw                        0
minutes_left                      0
seconds_left                      0
Age                           52418
TS%                           52418
PTM                           52418
TRBM                          52418
USG%                          52418
FG%                           52418
2P%                           52418
3P%                           52418
FT%                           52418
PTS                           52418
year_start                    52418
year_end                      52418
height                        52418
weight                        52418
C                             52418
PF                            52418
PG                            52418
PG-SG                         52418
SF                            52418
SG                            52418
SG-PG                         52418
dtype: int64

In [41]:
# update shot location for all free throws 
data.loc[data['free_throw']==1, 'Shot Zone Basic'] = 4.0
data.loc[data['free_throw']==1, 'Shot Zone Area'] = 1.0
data.loc[data['free_throw']==1, 'Shot Zone Range'] = 2.0
data.loc[data['free_throw']==1, 'Shot Distance'] = 15.0
data.loc[data['free_throw']==1, 'X Location'] = 0
data.loc[data['free_throw']==1, 'Y Location'] = 378

In [47]:
# drop Shot Made Flag : target is the same with no NAs
data.drop('Shot Made Flag', axis=1, inplace = True)

# drop Home Team : PLAYER1_TEAM_ABBREVIATION is the same with no NAs
data.drop('Home Team', axis=1, inplace = True)

# drop Minutes Remaining : minutes_left	is the same with no NAs
data.drop('Minutes Remaining', axis=1, inplace = True)

In [51]:
# Fill "Seconds Remaining"
data["Seconds Remaining"] = data.seconds_left - 60 * data.minutes_left

In [64]:
# Fill Season Type and Away Team with data from complete lines
games = data[['GAME_ID', 'Away Team', 'Season Type']].drop_duplicates().dropna()

for _, game in games.iterrows():
    data.loc[data.GAME_ID==game['GAME_ID'], 'Away Team']=game['Away Team']
    data.loc[data.GAME_ID==game['GAME_ID'], 'Season Type']=game['Season Type']

In [69]:
data[data.Age.isna()][['Year', 'PLAYER1_NAME']].drop_duplicates()

          Year           PLAYER1_NAME
46369   2003.0       Shaquille O'Neal
58848   2003.0            Dwyane Wade
59135   2003.0           LeBron James
66138   2004.0       Shaquille O'Neal
77448   2004.0          Dwight Howard
85840   2005.0       Shaquille O'Neal
112944  2006.0       Shaquille O'Neal
140114  2007.0       Shaquille O'Neal
153087  2007.0           Kevin Durant
165158  2008.0       Shaquille O'Neal
168361  2008.0           Chris Webber
177735  2008.0      Russell Westbrook
202690  2009.0           James Harden
202729  2009.0          Stephen Curry
235956  2011.0       Shaquille O'Neal
249333  2011.0          Kawhi Leonard
288433  2013.0  Giannis Antetokounmpo
374190  2018.0  Giannis Antetokounmpo
374217  2018.0           Jimmy Butler
374242  2018.0           LeBron James
374249  2018.0            Dwyane Wade
374278  2018.0          Kawhi Leonard
374305  2018.0          Dwight Howard
374413  2018.0          Dirk Nowitzki
374414  2018.0           Kevin Durant
374419  2018.0          Stephen Curry
374476  2018.0      Russell Westbrook
375755  2018.0           James Harden
389821  2019.0          Kawhi Leonard
389860  2019.0  Giannis Antetokounmpo
389876  2019.0           Jimmy Butler
389895  2019.0          Dirk Nowitzki
389899  2019.0      Russell Westbrook
389949  2019.0          Stephen Curry
389950  2019.0           James Harden
389957  2019.0           Kevin Durant
390058  2019.0            Dwyane Wade
392534  2019.0           LeBron James
398853  2019.0          Dwight Howard
403232  2020.0  Giannis Antetokounmpo
403258  2020.0           LeBron James
403264  2020.0          Dwight Howard
403295  2020.0           Jimmy Butler
403305  2020.0          Stephen Curry
403318  2020.0          Kawhi Leonard
403350  2020.0      Russell Westbrook
403352  2020.0           James Harden
403449  2020.0            Dwyane Wade

In [65]:
data.head(10)

,Seconds Remaining,Shot Zone Basic,Shot Zone Area,Shot Zone Range,Shot Distance,X Location,Y Location,Away Team,Season Type,Year,GAME_ID,EVENTNUM,target,PERIOD,PERSON1TYPE,PLAYER1_NAME,PLAYER1_TEAM_ABBREVIATION,at_home,3PT,jump_shot,layup_shot,dunk_shot,hook_shot,free_throw,minutes_left,seconds_left,Age,TS%,PTM,TRBM,USG%,FG%,2P%,3P%,FT%,PTS,year_start,year_end,height,weight,C,PF,PG,PG-SG,SF,SG,SG-PG
0,8,4.0,2.0,0.0,19.0,-107.0,167.0,PHI,1.0,2000.0,20000001,11,0.0,1,5.0,Allen Iverson,PHI,0.0,0.0,1.0,0.0,0.0,0.0,0.0,11,668,24.0,0.496,28.414286,3.814286,34.4,0.421,0.435,0.341,0.713,1989.0,1997.0,2010.0,182.88,165.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,57,4.0,2.0,0.0,21.0,-115.0,177.0,PHI,1.0,2000.0,20000001,32,1.0,1,5.0,Allen Iverson,PHI,0.0,0.0,1.0,0.0,0.0,0.0,0.0,7,477,24.0,0.496,28.414286,3.814286,34.4,0.421,0.435,0.341,0.713,1989.0,1997.0,2010.0,182.88,165.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,23,4.0,5.0,0.0,16.0,165.0,13.0,PHI,1.0,2000.0,20000001,34,0.0,1,5.0,Allen Iverson,PHI,0.0,0.0,1.0,0.0,0.0,0.0,0.0,7,443,24.0,0.496,28.414286,3.814286,34.4,0.421,0.435,0.341,0.713,1989.0,1997.0,2010.0,182.88,165.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,12,4.0,1.0,2.0,15.0,0.0,378.0,PHI,1.0,2000.0,20000001,39,1.0,1,5.0,Allen Iverson,PHI,0.0,0.0,0.0,0.0,0.0,0.0,1.0,7,432,24.0,0.496,28.414286,3.814286,34.4,0.421,0.435,0.341,0.713,1989.0,1997.0,2010.0,182.88,165.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,12,4.0,1.0,2.0,15.0,0.0,378.0,PHI,1.0,2000.0,20000001,40,1.0,1,5.0,Allen Iverson,PHI,0.0,0.0,0.0,0.0,0.0,0.0,1.0,7,432,24.0,0.496,28.414286,3.814286,34.4,0.421,0.435,0.341,0.713,1989.0,1997.0,2010.0,182.88,165.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
5,57,2.0,1.0,2.0,14.0,-65.0,127.0,PHI,1.0,2000.0,20000001,51,0.0,1,5.0,Allen Iverson,PHI,0.0,0.0,1.0,0.0,0.0,0.0,0.0,5,357,24.0,0.496,28.414286,3.814286,34.4,0.421,0.435,0.341,0.713,1989.0,1997.0,2010.0,182.88,165.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
6,16,4.0,1.0,2.0,15.0,0.0,378.0,PHI,1.0,2000.0,20000001,68,1.0,1,5.0,Allen Iverson,PHI,0.0,0.0,0.0,0.0,0.0,0.0,1.0,4,256,24.0,0.496,28.414286,3.814286,34.4,0.421,0.435,0.341,0.713,1989.0,1997.0,2010.0,182.88,165.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
7,16,4.0,1.0,2.0,15.0,0.0,378.0,PHI,1.0,2000.0,20000001,70,1.0,1,5.0,Allen Iverson,PHI,0.0,0.0,0.0,0.0,0.0,0.0,1.0,4,256,24.0,0.496,28.414286,3.814286,34.4,0.421,0.435,0.341,0.713,1989.0,1997.0,2010.0,182.88,165.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
8,58,6.0,5.0,1.0,23.0,235.0,40.0,PHI,1.0,2000.0,20000001,85,0.0,1,5.0,Allen Iverson,PHI,0.0,1.0,1.0,0.0,0.0,0.0,0.0,2,178,24.0,0.496,28.414286,3.814286,34.4,0.421,0.435,0.341,0.713,1989.0,1997.0,2010.0,182.88,165.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
9,52,5.0,1.0,4.0,0.0,0.0,0.0,PHI,1.0,2000.0,20000001,87,1.0,1,5.0,Allen Iverson,PHI,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2,172,24.0,0.496,28.414286,3.814286,34.4,0.421,0.435,0.341,0.713,1989.0,1997.0,2010.0,182.88,165.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [67]:
data.to_csv('../data/processed/all_shots_2000-2020.csv')

In [66]:
data.isna().sum()

Seconds Remaining                0
Shot Zone Basic                621
Shot Zone Area                 621
Shot Zone Range                621
Shot Distance                  621
X Location                     621
Y Location                     621
Away Team                      429
Season Type                    429
Year                             0
GAME_ID                          0
EVENTNUM                         0
target                           0
PERIOD                           0
PERSON1TYPE                      0
PLAYER1_NAME                     0
PLAYER1_TEAM_ABBREVIATION        0
at_home                          0
3PT                              0
jump_shot                        0
layup_shot                       0
dunk_shot                        0
hook_shot                        0
free_throw                       0
minutes_left                     0
seconds_left                     0
Age                          52418
TS%                          52418
PTM                          52418
TRBM                         52418
USG%                         52418
FG%                          52418
2P%                          52418
3P%                          52418
FT%                          52418
PTS                          52418
year_start                   52418
year_end                     52418
height                       52418
weight                       52418
C                            52418
PF                           52418
PG                           52418
PG-SG                        52418
SF                           52418
SG                           52418
SG-PG                        52418
dtype: int64