# Récupération des matchs manquants

Suite au merge des datasets nous avons remarqué qu'il manquait un grand nombre de d'observations. 

Certain matchs n'étaient pas dans les datasets play by play. Il est possible de les récupérer via l'API nba_api afin de les réinjecter dans notre pre processing

In [ ]:
# Matchs qui n'apparaissent que dans Shot locations
game_ids = df_merged[df_merged['GAME_ID'].isna()]['Game ID'].unique()
len(game_ids)

In [ ]:
from nba_api.stats.endpoints import playbyplayv2
from tqdm import tqdm

# pour chaque game id de Shot locations non présent dans les play by play
# on récupère les play by play sur le site de la NBA
liste_df = []
for id in tqdm(game_ids):
    string_id = "00" + str(int(id))
    liste_df.append(playbyplayv2.PlayByPlayV2(string_id).get_data_frames()[0])

100%|██████████| 1714/1714 [31:03<00:00,  1.09s/it]

In [ ]:
# concaténation
missing_play_by_play = pd.concat(liste_df)

In [ ]:
# enregistrement du dataset
missing_play_by_play.to_csv("../data/raw/missing_pbp.csv")

# Récupération des stats manquants

In [17]:
import pandas as pd
BEST_PLAYERS =['Kobe Bryant', 'LeBron James', 'Stephen Curry', 'Kevin Durant', 'Dwyane Wade', 
               'Dirk Nowitzki', 'Tim Duncan', "Shaquille O'Neal", "Steve Nash", "Kawhi Leonard", 
               "James Harden", "Jason Kidd", "Allen Iverson", "Chris Webber", "Kevin Garnett", 
               "Paul Pierce", "Giannis Antetokounmpo", "Jimmy Butler", "Russell Westbrook", "Dwight Howard"]

In [20]:
dfs = []
for i in range(2018,2021):
    df = pd.read_csv('../data/raw/season_stats_'+str(i)+'.csv')
    df_advanced = pd.read_csv('../data/raw/season_stats_advanced_'+str(i)+'.csv')
    df['Year']=i
    df = df.merge(df_advanced, on=['Player', 'Tm','Pos', 'Age', 'G', 'MP'])
    dfs.append(df)

stats = pd.concat(dfs)

In [22]:
stats = stats[stats.Player.isin(BEST_PLAYERS)]

In [23]:
stats.columns

Index(['Rk_x', 'Player', 'Pos', 'Age', 'Tm', 'G', 'GS', 'MP', 'FG', 'FGA',
       'FG%', '3P', '3PA', '3P%', '2P', '2PA', '2P%', 'eFG%', 'FT', 'FTA',
       'FT%', 'ORB', 'DRB', 'TRB', 'AST', 'STL', 'BLK', 'TOV', 'PF', 'PTS',
       'Player-additional_x', 'Year', 'Rk_y', 'PER', 'TS%', '3PAr', 'FTr',
       'ORB%', 'DRB%', 'TRB%', 'AST%', 'STL%', 'BLK%', 'TOV%', 'USG%',
       'Unnamed: 19', 'OWS', 'DWS', 'WS', 'WS/48', 'Unnamed: 24', 'OBPM',
       'DBPM', 'BPM', 'VORP', 'Player-additional_y'],
      dtype='object')

In [24]:
# Change column order to fit existing data
stats = stats.reindex(['Year','Player','Pos','Age','Tm','G','GS','MP',
                       'PER','TS%','3PAr','FTr','ORB%','DRB%','TRB%','AST%','STL%',
                       'BLK%','TOV%','USG%', 'Unnamed: 19','OWS','DWS','WS','WS/48','Unnamed: 24',
                       'OBPM','DBPM','BPM','VORP','FG','FGA','FG%','3P','3PA','3P%',
                       '2P','2PA','2P%','eFG%','FT','FTA','FT%','ORB','DRB','TRB',
                       'AST','STL','BLK','TOV','PF','PTS'], axis=1)

In [25]:
#save
stats.to_csv('../data/raw/seasons_stats_2018-2020.csv')

## Récupérer les matchs de 2019 - 2020 dans l'ancien format

In [5]:
from nba_api.stats.endpoints import playbyplayv2
from tqdm import tqdm
import pandas as pd
pd.set_option('display.max_columns', 100)
shot_locations = pd.read_csv("../data/processed/Shot_Locations_top_20_players_2000to2020.csv")

In [10]:
game_ids = shot_locations[shot_locations.Year > 2018]["Game ID"].drop_duplicates()

In [13]:
# pour chaque game id de Shot locations non présent dans les play by play
# on récupère les play by play sur le site de la NBA
liste_df = []
for id in tqdm(game_ids):
    string_id = "00" + str(int(id))
    try :
        liste_df.append(playbyplayv2.PlayByPlayV2(string_id).get_data_frames()[0])
    except JSONDecodeError:
        print(id)

100%|██████████| 639/639 [08:02<00:00,  1.33it/s]

In [14]:
# concaténation
missing_play_by_play = pd.concat(liste_df)

# enregistrement du dataset
missing_play_by_play.to_csv("../data/raw/missing_pbp_2019-2020.csv")

## Récupérer les métriques par équipes et par saison

In [9]:
from nba_api.stats.endpoints import teamestimatedmetrics
import pandas as pd

In [19]:
seasons = ["2000-01","2001-02", "2002-03", "2003-04", "2004-05", "2005-06", "2006-07", "2007-08", "2008-09", "2009-10",
            "2010-11","2011-12","2012-13","2013-14","2014-15","2015-16","2016-17","2017-18","2018-19","2019-20", "2020-21"]

liste_df = []

for season in seasons:    
    df = teamestimatedmetrics.TeamEstimatedMetrics(season=season).get_data_frames()[0]
    df["Year"] = int(season[:4])
    liste_df.append(df)

# concaténation
team_metrics = pd.concat(liste_df)

# add abbreviation
teams = pd.read_csv("../data/raw/teams.csv")
team_metrics = team_metrics.merge(teams[['TEAM_ID', 'ABBREVIATION']], on='TEAM_ID')

In [21]:
team_metrics.head(3)

               TEAM_NAME     TEAM_ID  GP  ...  E_PACE_RANK  Year  ABBREVIATION
0        Detroit Pistons  1610612765  82  ...            1  2000           DET
1       Sacramento Kings  1610612758  82  ...            2  2000           SAC
2  Golden State Warriors  1610612744  82  ...            3  2000           GSW

[3 rows x 32 columns]

In [22]:
# enregistrement du dataset
team_metrics.to_csv("../data/raw/team_metrics.csv")

In [7]:
import pandas as pd
import tqdm
from nba_api.stats.endpoints import playbyplayv3

pd.set_option("display.max_columns", 100)

In [2]:
df_old = pd.read_csv("../data/processed/Shot_Locations_top_20_players_2000to2020.csv")

In [25]:
df_old[(df_old['Player Name']=='Tim Duncan') & (df_old['Game ID']==29900436) & (df_old['Shot Distance'] != 0)][['Game Event ID', 'Shot Distance', 'X Location', 'Y Location']]

    Game Event ID  Shot Distance  X Location  Y Location
0               2             13        -113          68
1              29             13         123          51
3              96             16         102         130
4             101              7          59          51
8             272             16          46         162
9             275             21         -12         214
10            303              5         -53          27
14            350             19        -177          78
15            455              8         -53          72
16            462             12        -126          27

In [10]:
game_id = "0029900436"
game = playbyplayv3.PlayByPlayV3(game_id).get_data_frames()[0]

In [23]:
game[(game['playerNameI']=='T. Duncan') & (game['shotDistance']!=0)][['actionNumber', 'shotDistance', 'xLegacy', 'yLegacy']]

     actionNumber  shotDistance  xLegacy  yLegacy
2               2            13     -113       68
33             29            13      123       51
102            96            17      102      130
108           101             8       59       51
278           272            17       46      162
282           275            21      -12      214
306           303             6      -53       27
353           350            19     -177       78
454           455             9      -53       72
461           462            13     -126       27

In [29]:
game.gameId = game.gameId.astype(int)

In [31]:
merged = df_old.merge(game[['gameId', 'actionNumber', 'shotDistance', 'xLegacy', 'yLegacy']], 
                      how='left', 
                      left_on=['Game ID', 'Game Event ID'], 
                      right_on=['gameId', 'actionNumber'])